.addImages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
}

.addImages input[type="file"] {
  display: none;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 2rem;
  padding-bottom: 10px;

}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 350px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}


.card img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}
.cardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  gap: 2rem;
}

.uploadTime {
  margin: 0;
}

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.likeCount {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.likeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* margin-left: 5px; */
  font-size: 14px;
  color: #4d4d4d;
}

